# ide stuff
.vscode/

# python stuff
*.pyc

# documentation build
site/

# test coverage report and svg
.coverage
coverage.svg
coverage.xml

# misc temp files
tmp/
test/test_data/tmp
__pycache__/


# test hmm files
# pressed test hmms
test/test_data/hmm/valid.hmm.h3*

# mibig
MIBiG/

# local system tests
system_tests.sh

# mac stuff
.DS_Store