# ide stuff
.vscode/

# python stuff
*.pyc

# documentation build
site/

# test coverage report and svg
.coverage
coverage.svg
coverage.xml

# misc temp files
tmp/
test/test_data/tmp


# test hmm files
# pyhmmer output on valid hmm
test/test_data/hmm/valid.hmm.h3*
