# testing
pytest
coverage
coverage-badge

# documentation
mkdocs
mkdocstrings-python

# other tools
pre-commit
anybadge

# linting
pylint

# type stubs (https://mypy.readthedocs.io/en/stable/running_mypy.html#missing-imports)
types-psutil
networkx-stubs
data-science-types
