GBK_a	Record_Type_a	Record_Number_a	ORF_coords_a	GBK_b	Record_Type_b	Record_Number_b	ORF_coords_b	distance	jaccard	adjacency	dss	weights	aligmnent_mode
../data/benchmark_antismash_files/extracted/Fusarium/Fusarium_39/JH717896.1.cluster039.gbk	protocluster	1	0:5	../data/benchmark_antismash_files/extracted/Fusarium/Fusarium_34/CM000578.1.cluster052.gbk	protocluster	1	27:32	0.07	1.00	1.00	0.90	mix	AUTO
../data/benchmark_antismash_files/extracted/Fusarium/Fusarium_16/CM000578.1.cluster047.gbk	protocluster	1	11:12	../data/benchmark_antismash_files/extracted/Fusarium/Fusarium_17/HG323944.1.cluster018.gbk	protocluster	1	7:8	0.55	0.75	0.25	0.39	mix	AUTO
